<!DOCTYPE html>
<html>
    <head>
        <title>Alex Torres</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/main.css'>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href='/'>
                        <span class='underline'>HOME</span>
                    </a>
                </li>
                <li>
                    <a href='/certificates'>
                        <span class='underline'>CERTIFICATES</span>
                    </a>
                </li>
                <li>
                    <a class='dropdown' href='/projects'>
                        <span class='underline'>PROJECTS</span>
                    </a>
                    <div class='drop-menu'>
                        <a class='drop-item' href='/projects/colorgame'>Color Game</a>
                        <a class='drop-item'  href='/projects/tictactoe'>Tic Tac Toe</a>
                        <a class='drop-item' target='_blank' href='https://arcane-headland-87495.herokuapp.com/'>YelpCamp</a>
                    </div>
                </li>
            </ul>
            <ul class='right'>
                <li>
                    <a target='_blank' href='https://github.com/abetorvo/alextorres'>
                        <span class='underline'>DEVELOPER</span>
                    </a>
                </li>
            </ul>
        </nav>