<% include partials/header %>

        <div class='certs main-container'>
            <div class='container'>
                <img src='https://udemy-certificate.s3.amazonaws.com/image/UC-T9NEDPIQ.jpg' alt='Web Developer Bootcamp Certificate of Completion'>
                <img src='https://udemy-certificate.s3.amazonaws.com/image/UC-C7ZI3XB6.jpg' alt='Intro to Git Certificate of Completion'>
            </div>
        </div>

<% include partials/footer %>