<% include partials/header %>
        
        <main>
            <h1><span>Alex Torres</span></h1>
        </main>
        
        <script type="text/javascript" src="/scripts/landing.js"></script>
        
<% include partials/footer %>