<% include partials/header %>
        
        <div class='land'>
            <div class='container'>
                <div class='seeThru'>
                    <!--<p>This is some test text.</p>-->
                    <h1>Alex Torres</h1>
                    <!--<p>This is some more test text.</p>-->
                </div>
            </div>
        </div>
        
<% include partials/footer %>