<% include partials/header %>
        
        <div class='projects'>
            <a href='/projects/tictactoe'>
                <iframe allowtransparency='true' scrolling='no' sandbox='allow-scripts allow-pointer-lock allow-same-origin' src="https://alexandergtorres-abetorvo.c9users.io/projects/tictactoe"></iframe>
            </a>
            <a href='/projects/tictactoe'>
                <iframe allowtransparency='true' scrolling='no' sandbox='allow-scripts allow-pointer-lock allow-same-origin' src="https://alexandergtorres-abetorvo.c9users.io/projects/tictactoe"></iframe>
            </a>
        </div>

<% include partials/footer %>