<% include partials/header %>
        
        <div class='projects main-container'>
            
            <h1>Select a Project</h1>
            
            <div class='container'>
                <div class='thumbnail'>
                    <iframe scrolling='no' src="projects/tictactoe"></iframe>
                    <a class='cover' href='projects/tictactoe'>
                        <span>Tic Tac Toe<br>Project</span>
                    </a>
                </div>
                <div class='thumbnail'>
                    <iframe scrolling='no' src="projects/colorgame"></iframe>
                    <a class='cover' href='projects/colorgame'>
                        <span>RGB Color Guessing Game<br>Project</span>
                    </a>
                </div>
                <div class='thumbnail'>
                    <iframe scrolling='no' src="https://arcane-headland-87495.herokuapp.com/"></iframe>
                    <a class='cover' href='projects/tictactoe'>
                        <span>YelpCamp<br>Project</span>
                    </a>
                </div>
            </div>
            
        </div>

<% include partials/footer %>