/********************************/
/********** COLOR GAME **********/
/********************************/

body {
    width: 100%;
    height: 100vh;
	background: #232323;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

h1 {
	background: steelblue;
	text-align: center;
	color: white;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.1;
	padding: 80px 0 20px 0;
}

#rgbDisplay {
	font-size: 2em;
}

.container {
	margin: 1.66% auto;
	max-width: 600px;
}

.square {
	background: red;
	width: 30%;
	margin: 1.66%;
	padding-bottom: 30%;
	float: left;
	border-radius: 15%;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}

.square:hover {
    cursor: pointer;
}

#message {
	display: inline-block;
	width: 20%;
}

#stripe {
	background: white;
	text-align: center;
	height: 30px;
	color: black;
}

.selected {
	background: steelblue;
	color: white;
}

button {
	border: none;
	background: none;
	height: 100%;
	text-transform: uppercase;
	font-weight: 700;
	color: steelblue;
	transition: all 0.3s;
}

button:hover {
	color: white;
	background: steelblue;
	cursor: pointer;
}

.hide {
	display: none;
}