
/********************************** PARTIALS **********************************/



/****************************/
/********** HEADER **********/
/****************************/

body {
    margin: 0;
    font-family: 'Roboto';
    min-height: 100vh;
    background: url(https://images.unsplash.com/photo-1464983953574-0892a716854b?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    padding: 0 15px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

nav ul {
    vertical-align: bottom;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.right {
    float: right;
}

nav li {
    float: left;
    
}

nav a {
    text-decoration: none;
    color: lightgrey;
    display: inline-block;
    font-weight: bold;
    padding: 20px 10px;
}

nav .underline {
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border 0.2s linear;
}

nav li:hover .underline {
    border-bottom: 2px solid #f0f0f0;
}

.drop-menu {
    position: absolute;
}

.drop-item {
    position: relative;
    background: rgba(0,0,0,0.75);
    padding: 10px;
    display: none;
    transition: all 0.2s linear;
}

.drop-item:hover {
    color: white;
    background: rgba(0,0,0,0.9);
}

nav li:hover .drop-item {
    display: block;
}

.in-iframe nav, .in-iframe footer {
    display: none;
}

.in-iframe .tictactoe h1, .in-frame .colorgame h1  {
    padding: 20px 0 20px 0;
    margin: 0;
}



/****************************/
/********** FOOTER **********/
/****************************/

footer {
    width: 100%;
    height: 60px;
    background: #cccccc;
}

footer .img-src {
    display: none;
}



/*********************************** ROUTES ***********************************/



.main-container {
    width: 100%;
    min-height: calc(100vh - 60px);
    text-align: center;
}



/*****************************/
/********** LANDING **********/
/*****************************/

.land .container {
    background: white;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 50vh;
    transform: translate(0, -50%);
    opacity: 0.9;
}

.land .seeThru { 
    background: url(https://images.unsplash.com/photo-1464983953574-0892a716854b?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-position: center;
    background-size: 150vh;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 100%;
    height: 100%;
    color: transparent;
}

@media screen and (min-width: 150vh) {
  .land .seeThru {
     background-size: 99vw;
  }
}

.land h1 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 15vw;
}

@media screen and (min-width: 920px) {
  .land h1 {
     font-size: 8.6em;
  }
}

.land ~ footer .img-src, .certs ~ footer .img-src {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}



/**********************************/
/********** CERTIFICATES **********/
/**********************************/

.certs .container {
    width: 50%;
    margin: 0 auto;
    padding-top: 60px;
}

.certs img {
    width: 100%;
    margin: 20px 0;
    display: inline-block;
}



/******************************/
/********** PROJECTS **********/
/******************************/

.projects .container {
    width: 96vw;
    display: inline-block;
}

.projects h1 {
    margin: 0;
    padding: 80px 0 0 0;
    text-align: center;
    color: white;
}

.projects .thumbnail {
    position: relative;
    margin: 2vw;
    width: 28vw;
    height: 28vw;
    float: left;
}

.projects iframe {
    position: relative;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.projects .cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    float: left;
    text-align: center;
    text-decoration: none;
    display: table;
    color: white;
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.projects .cover span {
    display: table-cell;
    vertical-align: middle;
}

.projects .cover:hover {
    opacity: 1;
}



/********************************** PROJECTS **********************************/



/*********************************/
/********** TIC TAC TOE **********/
/*********************************/

.tictactoe {
    width: 100%;
    font-family: Verdana;
    background: #f0f0f0;
}

.tictactoe h1 {
    padding-top: 80px;
    margin: 0;
    text-align: center;
}

.tictactoe table {
  margin: 20px auto 0 auto;
  border: hidden;
  border-collapse: collapse;
}

.tictactoe td {
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 5em;
  border: 2px solid black;
}

.tictactoe .container {
  width: 200px;
  margin: 20px auto 0 auto;
}

.tictactoe .marker {
  float: left;
  box-sizing: border-box;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 5px;
  background: #cccccc;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  line-height: 1.5em;
  width: 46%;
  margin: 0 2%;
}

.tictactoe #reset {
  display: inline-block;
  margin: 10% 2%;
  width: 96%;
  line-height: 1.5em;
  background: #55ff88;
  text-align: center;
  font-size: 1.5em;
  border-radius: 5px;
}

.tictactoe .marker:hover, .tictactoe td:hover, .tictactoe #reset:hover {
  cursor: pointer;
}

.tictactoe .selected {
  border: 2px solid black;
}

.tictactoe .cats {
  background-image: url(https://lh4.googleusercontent.com/Ohk_fD8nDJqTurWSjLDwVZDILtwhbfISG_IQ0HnL3filnEnaypZYP4rZ5FHgJJpRSvhrghFAnFAjjkGgSBDIe741VGtgVgm7G-onzd3mw6DcU-JHJZyeDAPPemB_2lA-C_Zmllr2);
  background-size: cover;
}

.tictactoe .cats td {
  opacity: 0;
  border: hidden;
}



/********************************/
/********** COLOR GAME **********/
/********************************/

.colorgame {
	width: 100%;
	background: #232323;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.colorgame h1 {
	background: steelblue;
	text-align: center;
	color: white;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.1;
	padding: 80px 0 20px 0;
}

.colorgame #rgbDisplay {
	font-size: 2em;
}

.colorgame .container {
	margin: 0 auto;
	padding-top: 1.66%;
	max-width: 600px;
}

.colorgame .square {
	background: red;
	width: 30%;
	margin: 1.66%;
	padding-bottom: 30%;
	float: left;
	border-radius: 15%;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}

.colorgame .square:hover {
    cursor: pointer;
}

.colorgame #message {
	display: inline-block;
	width: 20%;
}

.colorgame #stripe {
	background: white;
	text-align: center;
	height: 30px;
	color: black;
}

.colorgame .selected {
	background: steelblue;
	color: white;
}

.colorgame button {
	border: none;
	background: none;
	height: 100%;
	text-transform: uppercase;
	font-weight: 700;
	color: steelblue;
	transition: all 0.3s;
}

.colorgame button:hover {
	color: white;
	background: steelblue;
	cursor: pointer;
}

.colorgame .hide {
	display: none;
}